@import "./global.module.scss";

.contact-container {
    font-family: $ff;
    .contact-header-grid {
        display: grid;
        grid-template-columns: 55% 40%;
        grid-column-gap: 5%;
        align-items: end;
        justify-content: center;
        margin: 0;
        z-index: -1;
        // text-align: center;
        overflow: hidden;
        p {
            margin: 0;
        }
        .left {
            position: relative;
            padding: 100px 0 0px 0;
            width: 100%;
            height: 100%;
            .hero-doodle {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.2;
                width: 100%;
                height: 100%;
            }
        }
        .contact-header-title {
            font-size: 60px;
            font-family: $ff;
            font-weight: bold;
            margin-bottom: 35px;
            text-transform: uppercase;
            letter-spacing: 1.1;
        }
        .contact-header-sub-title {
            font-size: 28px;
            font-family: $ff;
            font-weight: bold;
            color: #161414;
            text-transform: uppercase;
            margin: 25px 0 5px;
        }
        .contact-header-text {
            font-size: 30px;
            color: #161414;
        }
        .right {
            margin-bottom: -15px;
        }
        .last-child {
            margin-bottom: 30px;
        }
    }
    .contact-form-section {
        background-color: $bgColor;
        padding-top: 100px;
        .wrapper {
            // max-width: 1200px;
            // margin: 0 auto;
            // position: relative;
            .contact-form-section {
                display: grid;
                grid-template-columns: repeat(2, 45%);
                grid-column-gap: 10%;
                margin-bottom: 200px;
                .contact-form-block {
                    margin-bottom: 50px;
                    input, textarea {
                        width: 100%;
                        font-size: 24px;
                        padding: 20px 20px 15px 20px;
                    }
                    .contact-form-submit {
                        padding: 12px 40px;
                        border-radius: 80px;
                        background-color: $black;
                        color: $white;
                        text-transform: uppercase;
                        cursor: pointer;
                        width: auto;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .footer-container {
        padding-bottom: 25px;
        .social-container {
            display: grid;
            grid-column-gap: 20px;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
        }
    }
}