
$maxWidth: 1440px;
$bgColor: #4DDDE8;
$white: #FFF;
$black: #000;
$ff: 'Arial';

.z1 {
    z-index: 1;
}

.bold {
    font-weight: bold;
}

.wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1550px) {
        max-width: 100%;
        padding: 0 80px;
    }
    @media screen and (max-width: 1200px) {
        max-width: 100%;
        padding: 0 50px;
    }
}

.df {
    display: flex;
}

.dfc {
    display: flex;
    align-items: center;
}

.dfcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f1 {
    flex: 1;
}

.dg {
    display: grid;
}

.dgc {
    display: grid;
    align-items: center;
}

.afe {
    align-items: flex-end;
}

.asf {
    align-self: flex-end;
}

.button {
    font-size: 28px;
    color: $white;
    background-color: $black;
    padding: 12px 40px;
    border-radius: 54px;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
}
