@import "./global.module.scss";

body {
    .container {
        font-family: "Acumin Pro";
        background-color: $bgColor;
        .right-place {
            padding: 100px 0 30px;
            &--container {
                grid-template-columns: 32% 63%;
                grid-column-gap: 5%;
                align-items: center;
                text-align: center;
                font-size: 36px;
                margin-top: 20px;
            }
        }
        .our-expertise {
            background-color: #EBEBEB;
            padding: 212px 0 196px;
            .expertise-container {
                max-width: 1140px;
                margin-right: auto;
                text-align: center;
                font-size: 36px;
                margin-bottom: 32px;
                color: #1E1818;
                .expertise-text {
                    margin-bottom: 15px;
                }
            }
        }
        .footer-container {
            background-color: #ebebeb;
            padding-bottom: 25px;
            .social-container {
                display: grid;
                grid-column-gap: 20px;
                grid-auto-flow: column;
                grid-auto-columns: max-content;
            }
        }
    }
}