@import "./global.module.scss";

body {
    .container {
        overflow: hidden;
        font-family: $ff;
        background-color: $bgColor;
        .hero-container {
            .hero-grid {
                display: grid;
                grid-template-columns: repeat(2, 47%);
                grid-column-gap: 6%;
                position: relative;
                // @media screen and (max-width: 1300px) {
                //     grid-template-columns: 40% 55%;
                //     grid-column-gap: 5%;
                // }
                .hero-icon-container {
                    display: grid;
                    grid-template-columns: repeat(2, 48%);
                    grid-column-gap: 4%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    @media screen and (max-width: 1300px) {
                        grid-template-columns: 45% 50%;
                        grid-column-gap: 5%;
                    }
                    .hero-icon-text {
                        p:first-child {
                            font-family: $ff;
                            font-weight: bold;
                            font-size: 53px;
                            margin: 0 0 10px;
                            text-transform: uppercase;
                            @media screen and (max-width: 1300px) {
                                font-size: 42px;
                            }
                        }
                        p:last-child {
                            font-size: 53px;
                            text-transform: uppercase;
                            margin: 0;
                            @media screen and (max-width: 1300px) {
                                font-size: 42px;
                            }
                        }
                    }
                }
            }
        }
        .right-place {
            padding: 100px 0 30px;
            &--container {
                grid-template-columns: 30% 55%;
                grid-column-gap: 15%;
                align-items: center;
                text-align: center;
                font-size: 28px;
                margin-top: 20px;
                z-index: 10;
            }
            &--right {
                z-index: 10;
            }
        }
        .our-expertise {
            background-color: #EBEBEB;
            padding: 212px 0 0;
            .expertise-container {
                max-width: 800px;
                margin-right: auto;
                text-align: center;
                font-size: 28px;
                padding-bottom: 32px;
                color: #1E1818;
                background-color: #EBEBEB;
                .expertise-text {
                    margin-bottom: 25px;
                }
            }
        }
        .footer-container {
            background-color: #ebebeb;
            padding-bottom: 25px;
            .footer-grid {
                display: flex;
                .social-container {
                    display: grid;
                    grid-column-gap: 20px;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    align-self: end;
                    flex: 1;
                }
            }
        }
        .abs-doodle-1 {
            position: relative;
            z-index: 0;
            div {
                position: absolute;
                right: -5px;
                top: -430px;
                width: 689px;
                height: 598px;
                opacity: 0.2;
                z-index: -1;
            }
        }
        .abs-doodle-2 {
            position: relative;
            z-index: 0;
            div {
                position: absolute;
                left: 125px;
                top: -180px;
                width: 689px;
                height: 598px;
                opacity: 0.1;
                z-index: -1;
            }
        }
        .abs-doodle-3 {
            position: relative;
            z-index: 0;
            div {
                position: absolute;
                left: 85px;
                top: -316px;
                width: 689px;
                height: 598px;
                opacity: 0.1;
                z-index: -1;
            }
        }
    }
}