@import "./global.module.scss";

.services-container {
    font-family: "Acumin Pro";
    .services-title-container {
        margin: -200px 0;
    }
    .services-header-grid {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-content: center;
        margin: 0;
        z-index: -1;
        .title-container {
            text-align: center;
            color: #2E2E2E;
            .title {
                font-size: 84px;
                font-weight: 800;
                text-transform: uppercase;
            }
            .text {
                margin: 25px 0 15px;
                font-size: 32px;
            }
        }
    }
    .our-services {
        background-color: $bgColor;
        position: relative;
        overflow: hidden;
        background-image: url('../public/services/doodle.png');
        .services-grid {
            display: grid;
            grid-template-columns: repeat(5, 18%);
            grid-column-gap: 2.5%;
            align-items: center;
            grid-column: center;
            padding: 100px 0 150px;
            // z-index: 1;
        }
        .abs-doodle-1 {
            z-index: -1;
            div {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.09;
                z-index: 0;
            }
        }
    }
    .footer-container {
        padding-bottom: 25px;
        .social-container {
            display: grid;
            grid-column-gap: 20px;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
        }
    }
}